version: '3'
services:
  php-test:
    build: .
    volumes:
      - ./www/first.loc:/var/www
  nginx-test:
    image: nginx
    volumes:
      - ./docker/nginx/hosts:/etc/nginx/conf.d
      - ./docker/logs/nginx:/var/log/nginx
    ports:
      - "7000:80"
    depends_on:
      - php-test